
header{
    display: flex;
    justify-content: space-between;
    
    
    
}



.logo{
    width: 20rem;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-evenly;
    font-size: 20px;
   
 }
 .grid_inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .imagen_inicio{
    width: 700px;
    height: 800px;
 }

 .texto_inicio{
    font-size: 80px;
    padding: 10px;
    margin: 100px;
    font-family: 'Montserrat', sans-serif;
  
 }
.contacto_titulo{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   
  
}
.contacto_formulario{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}

.grid_tienda{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.grid_tienda_img:hover{
filter: opacity(1);
transform: scale(0.95);
cursor: pointer;


}
    


 footer{
display: flex;
flex-direction: row;
justify-content: center;
 }

 .imagen_footer{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
 }

@media screen and (max-width: 768px){

    header ul{
        display: flex;
        flex-direction: column;
    }

    .grid_tienda{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }

}
    
