@import "../partials/vars";
@import "../partials/header";
@import "../partials/footer";
@import "../partials/main_index";
@import "../partials/main_tiendaonline";
@import "../partials/main_recetas";
@import "../partials/main_quienessomos";
@import "../partials/main_contacto";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');



@media only screen and (max-width: 991px) {

    .contact_info_item {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact_info_item:last-child {
        margin-bottom: 0px;
    }

}

@media only screen and (max-width: 767px) {

    .input_field {
        margin-bottom: 30px;
        width: 100%;
    }

    .input_field:last-child {
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 575px) {

    .contact_submit_button {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }

}

@media screen and (max-width: 768px) {

    header ul {
        display: flex;
        flex-direction: column;
    }

    .grid_tienda {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .grid_inicio {
        display: flex;
        flex-direction: column;

    }

}